<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
 
<title>docapproval</title> 
 
<!-- Meta Tags --> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="Content-Language" content="en-us" /> 
 
<!-- Styles --> 
<style>

body {
  font-family: helvetica;
  margin-left:20%;
  margin-right:20%;
  background-color: #eee;
}

h1 {
  font-size: 5.4em;
  margin-bottom: 30px;
  
}

ul {
  margin-bottom: 40px;
  
}

a {
  color: #000;
  
}

</style> 
 
</head> 
<body>


<h1>docapproval</h1>

<ul>
<li> Upload a document and share it with your team </li>
<li> Collect feedback from everyone in one place </li>
<li> Easily keep track of approvals </li>
</ul>

<a href="http://alexkroman.wufoo.com/forms/docapproval/" style="margin-left:20px;font-size:1.8em;"> Enter your email to be notified when we launch!</a>

</body>
</html>